---
---

/* Use Minima theme as the base style */
@import "minima";

/* Center page titles */
h1 {
    text-align: center;
    margin-bottom: 1em;
}

/* Archive formatting */
.toc {
  -webkit-columns: 6em auto;
  -moz-columns:    6em auto;
  columns:         6em auto;
  text-align: center;
  margin-bottom: 2em;
}
.archive > .year {
  font-size: 150%;
}
.archive > dd {
  margin-left: 3em;
}
li.paper {
  margin-bottom: 1em;
}
.paper > p {
  margin: 0;
  margin-left:  1em;
  text-indent: -1em;
}
.paper > .title {
  font-size: 125%;
}
