---
---

/* Use Minima theme as the base style */
@import "minima";

/* Center page titles */
h1 {
    text-align: center;
}

/* Archive formatting */
.archive > .year {
  font-size: 150%;
}
.archive > dd {
  margin-left: 3em;
}
li.paper {
  margin-bottom: 1em;
}
.paper > p {
  margin: 0;
  margin-left:  1em;
  text-indent: -1em;
}
.paper > .title {
  font-size: 125%;
}
